:host {
  display: block;
  --color: white;
  overflow: hidden;
}

.checkbox {
  z-index: 0;
}

.content {
  --height: 100%;
  position: unset;
  --background: unset;
}

.content #background-content{
  background: unset;
}

toolbar-component {
  /* position: relative; */
  width: 100%;
  top: 0;
  left: 0;
}