:host {
  display: block;
  height: 100%;
}

@import url("../../../../global/modalstyle.css");

.error {
  font-size: small;
  color: var(--alert);
  padding-top: 10px;
  margin: 0;
}

.title {}

ion-item {
  --highlight-color-focused: var(--primary);
}