:host {
  display: block;
  height: 100%;
}
@import url("../../../../global/modalstyle.css");

.error {
  font-size: small;
  color: var(--alert);
  padding-top: 10px;
  margin: 0;
}

.title {
  margin: 15px 0;
  padding: 0;
}

ion-item {
  --highlight-color-focused: var(--primary);
}