:host {
  display: block;
  align-content: center;
}

.menuContainer {
  margin: 80px auto;
  width: 65%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px) saturate(120%) contrast(200%);
}

.logoDiv {
  flex: content;
  flex-direction: row;
  padding-left: 90%;
}

.onslipLogo {
  width: 80%;
}

.header img {
  width: 100px;
  float: right;
  margin: auto;
}

.toggle {
  font-size: small;
  color: white;
  --background: var(--primary);
  border-radius: 0 0 3px 3px;
  font-weight: normal;
  font-style: normal;
  border-radius: 2px;
  float: left;
  vertical-align: middle;
}
.no-banner img {
  width: 100px;
  float: center;
  margin: auto;
}

.no-banner {
  text-align: center;
  font-size: 1.3rem;
  width: 100%;
  height: min-content;
}

.header {
  text-align: center;
  font-size: 1.3rem;
  width: 100%;
  height: 200px;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1000px) {
  .menuContainer {
    width: 90%;
  }
}

@media only screen and (max-width: 700px) {
  .menuContainer {
    width: 100%;
  }
}


.scroll {
      display: table;

  position: absolute;
    height: 100%;
}

