:host {
  display: block;
  width: 100%;
}

.icon {
  float: right;
  padding-left: 50px;
}

.button-9 {
  display: block;
  backface-visibility: hidden;
  border-width: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 100%;
  line-height: 1;
  outline: none;
  overflow: hidden;
  padding: 15px 5px;
  text-transform: none;
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: max-content;
  width: 100%;
}

.button-9:hover {
  background-color: var(--primary);
}