:host {
  display: block;
}

.toolbar {
  --background: #a4d463;
  --color: white;
}

.logo {
  width: 6.5rem;
}

ion-nav {
  position: fixed;
  height: min-content;
  z-index: 2;
}

.menu_box_closed {
  font-size: large;
  display: block;
  position: fixed;
  transition-duration: .4s;
  transform: translateY(-100%);
  color: white;
  opacity: 0;
  top: 50px;
  left: 0;
  z-index: 1;
}

.menu_box {
  font-size: large;
  display: inline-block;
  position: fixed;
  transition-duration: .4s;
  background-color: rgb(51, 51, 51);
  color: white;
  top: 55px;
  left: 0;
  z-index: 1;
}

.icon {
  float: right;
}

.button-9 {
  display: block;
  backface-visibility: hidden;
  border-width: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  line-height: 1;
  outline: none;
  overflow: hidden;
  padding: 15px 5px;
  text-transform: none;
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: max-content;
  width: 100%;
}

.button-9:hover {
  background-color: var(--primary);
}

.toggle {
  font-size: large;
  --min-height: 0;
  --background: transparent;
  --color: white;
  --border-style: none;
}

ion-toggle {
  --background: var(--faded);
  --background-checked: var(--primary);
  --handle-background: var(--faded);
  --handle-background-checked: var(--primary);
  --border-radius: 5px;
  --handle-border-radius: 5px;
  --handle-width: 15px
}

.menu-col {
  padding: 0;
}

api-ui {
  width: 100%;
}