:host {
  display: block;
  
}

.toolbar {
  --background: #a4d463;
  --color: white;
}

.logo {
  width: 3rem;
}

.menu_box_closed {
  font-size: large;
  display: block;
  position: absolute;
  width: max-content;
  /* left: -100%; */
  margin: 0;
  transition-duration: .4s;
  transform: translateY(-100%);
  color: white;
  opacity: 0;
}

.menu_box {
  font-size: large;
  display: block;
  position: absolute;
  /* left: 0; */
  width: max-content;
  transition-duration: .4s;
  background-color: rgb(51, 51, 51);
  color: white;
  z-index: 1;
}

ion-nav {
  z-index: 2;
}