:host {
  display: block;
  --color: white;
  overflow: hidden;
}

.checkbox {
  z-index: 0;
}

.content {
  height: 100vh;
  --background: unset;
}

ion-router-outlet {
  overflow: auto;
  height: 100%;
}



