:host {
  display: block;
  height: 100%;
}

@import url("../modal-ovelay/modalstyle.css");

input {
  width: 100%;
}

.inputfield {
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
}

ion-radio {
  --color-checked: var(--primary)
}

.content {
  height: 100%;
  position: unset;
  --background: unset;
}

h4 {
  margin: 0;
}