:host {
  display: block;
}

.upload {
  width: fit-content;
}

.upload > ion-row {
  padding: 5px 0;
}

.upload-edit {
  flex: content;
  display: flex;
  flex-direction: column;
}


.colorupload {
  padding-top: 5%;
}


.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #a4d463;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-9:hover {
  background-color: #647c2e;
}


.custom-file-input {
  width:15%
}

.label {
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;

}

 #color {
  

}

#asf, #asfd {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-right: 10px; */
  margin-bottom: 10px;
}


