:host {
  display: block;
}

.button {
  float: right;
  position: top;
  padding-right: 1%;
}

.pic {
  width: 30px;
  height: 30px;
  padding: 2px; 
  border: 1px solid black;
  border-radius: 10%;
  background-color: rgb(241, 241, 241);
  box-shadow: 3px 3px 1px rgba(170, 170, 170, 0.459);
}
.pic:hover {
  background-color: rgb(196, 192, 192);
}

