:host {
  display: block;
  height: 100%;
  --tempFont: var(--font);
  --tempSize: var(--fontSize);
  --newFont: '';
  --newUrl: '';
  --importUrl: '';
}

@import url("../../../../global/modalstyle.css");


/* General CSS */

.row {
  width: 100%;
  flex-direction: column;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.modal .header {
  padding: 0;
}

.inputRow {
  width: 100%;
}

ion-item {
  --highlight-color-focused: var(--primary);
}

.select {
  --color-hover: white;
  width: 77%;
}

/* Slider */

.slider {
  width: 100%;
}

.small {
  font-size: small;
}

.big {
  font-size: x-large;
}

ion-range {
  padding-top: 0;
  --color: var(--primary)
}

/* Product CSS */

.product {
  align-items: flex-start;
  font-size: var(--tempSize);
}

.productName {
  text-align: start;
  font-family: var(--tempFont);
}

.productDesc {
  text-align: center;
  font-family: var(--tempFont);
}

.productPrice {
  text-align: end;
  font-family: var(--tempFont);
}

.categoryTitle {
  font-family: var(--tempFont);
  font-size: var(--tempSize);
}


/* Tabs */

.tab-button {
  width: 50%;
  height: 40px;
  background-color: white;
  border-top: none;
  border-color: lightgray;
  border-radius: 3px;
  box-shadow: none;
  font-weight: bold;
}

ion-tabs {
  position: unset;
}

ion-tab-bar {
  justify-content: space-evenly;
}

ion-tab-button {
  --color-selected: var(--primary);
}

ion-tab-button.focus {
  box-shadow: 0px -6px 5px -7px inset var(--primary);
}


/* Buttons */

.add {
  align-self: flex-end;
  background-color: var(--warning);
  margin: 10px 20px 0 0;
}

.add:hover {
  background-color: var(--secondary);
}

.bold {
  margin-left: 20px;
  padding: 8px 13px 8px 13px;
  font-size: large;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cursive {
  margin-left: 10px;
  padding: 8px 15px 8px 15px;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  font-style: italic;
}

.deactivated {
  background: rgba(67, 124, 67, 0.57);
  box-shadow: none;
}

.activated {
  background: var(--primary);
  box-shadow: none;
}

.icon {
  vertical-align: middle;
}

@font-face {
  font-family: var(--newFont);
  src: var(--newUrl);
}