:host {
  display: block;
}

.upload {
  position: fixed;
  left: 8%;
  top: 50%;
  /* display: none; */
}


.upload-edit {
  position: relative;
  font-family: calibri;
  width: auto;
  padding: 10px;
  border: 1px dashed #BBB;
  text-align: center;
  background-color: #DDD;
  cursor: pointer;
  overflow: hidden;
}

.upload:hover {
  display: block;
}

.upload-button {

}