:host {
  display: block;
}

.is-open {
  opacity: 1;
  visibility: visible;
  transition: visbility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  color: black;
  z-index: 10;
}

.is-closed {
    visibility: hidden;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 10;
  opacity: 0
}