:host {
  display: block;
}

@import url(../../../global/buttons.css);

.toolbar {
  --background: #a4d463;
  --color: white;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


.menu_box.closed {
  transform: translateY(-100%);
  opacity: 0;
}

.menu_box {
  /* border: 1px solid hsla(0, 0%, 60%, 1); */
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.5);
  font-size: medium;
  display: block;
  position: absolute;
  transition-duration: .4s;
  background-color: hsla(0, 0%, 95%, 1);
  color: hsla(0, 0%, 20%, 1);
  z-index: 1;
}

.menu-col {
  padding: 0;
}

ion-row {
  height: min-content;
}

.fontselector {
  --color: white;
  --background: none;
  max-width: 100px;
  font-family: unset;
}

.select {
  color: white;
  --background: unset;
}

@media only screen and (max-width: 800px) {
  .ddmText {
    display: none;
  }

  .logo {
    left: 83%;
  }
}