:host {
  display: block;
}

.toolbar {
  --background: #a4d463;
  --color: white;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


ion-nav {
  position: fixed;
  height: min-content;
  z-index: 2;
  overflow: visible;
}

.menu_box.closed {
  font-size: large;
  display: block;
  position: absolute;
  transition-duration: .4s;
  transform: translateY(-100%);
  color: white;
  opacity: 0;
  top: 50px;
  left: 0;
  z-index: 1;
}

.menu_box {
  font-size: large;
  display: inline-block;
  position: absolute;
  transition-duration: .4s;
  background-color: rgb(51, 51, 51);
  color: white;
  top: 55px;
  left: 0;
  z-index: 1;
}

@import url(../../../global/buttons.css);

.menu-col {
  padding: 0;
  width: min-content;
}

.fontselector {
  --color: white;
  --background: none;
  max-width: 100px;
  font-family: unset;
}