:host {
  display: block;
  background-repeat: no-repeat;
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

llasff .content {
  width: 100%;
  margin: 0;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.progressbar {
  --progress-background: var(--primary);
  --background: none;
}

.error-message {
  font-family: var(--globalfont);
  text-align: center;
  color: var(--alert);
  font-weight: bold;
  text-decoration: underline;
  z-index: 0;
}

.categoryTitle {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  font-weight: bold;
  padding: 15px;
}

.categoryTitle[data-status='Banner'] {
  padding: 30px;
  background: rgba(255, 255, 255, 0.5);
}

.categoryToggled {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  position: sticky;
  padding: 15px;
}

.productName {
  font-size: 1rem;
  text-align: start;
}

.productPrice {
  font-size: 1rem;
  text-align: end;
}

.productDesc {
  font-size: 0.8rem;
  text-align: start;
}

ion-reorder {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  color: black;
}

ion-reorder-group {
  /* transition: none;
  animation: none;
  transition-duration: 0s; */

}

.catImages {
  left: 85%;
  position: absolute;
}

.background {
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.312);
}

.spinner {
  color: var(--primary);
  transform: translate(50%, 50%);
  padding: 5px;
}

.productContainer {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.saveButton {
  font-family: var(--globalfont);
  --background: var(--primary);
  font-weight: normal;
  font-style: normal;
  float: right;
  margin-right: 20px;
}