:host {
  display: block;

}

.is-open {
  opacity: 1;
  visibility: visible;
  transition: .4s;
  color: white;
  z-index: 10;
  max-width: 350px;
}

.is-closed {
  opacity: 0;
  transition: .4s;
  z-index: 10;
  max-width: 0;
    color: white;

}

ion-row {
  width: fit-content;
}

.label {
   --background: none;
  --color: white;
  --box-shadow: none;
  border-radius: 6px;
}

.label:hover {
  background-color:#8cbb4abd; 
  color: rgb(49, 49, 49);
}

.labelpressed {
  --text-shadow: 1;
  --background: rgba(67, 124, 67, 0.57);
  --box-shadow: none;
}

.bold-button {
  font-size: large;
  font-weight: bold;
  width: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.test-button {
    font-size: large;
}

.cursive-button {
  width: 25px;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  font-style:italic;
}

ion-item {
  --background: none;
  --color-activated: green;
  color: white;
  max-height: 50px;
  --inner-padding-end: none;
  max-width: 200px;
  --padding-end: none;--padding-start: none;
  min-height: 0;
}


ion-popover {
  --backdrop-opacity: 1;
}


.fontSize::part(icon) {
  display: none;
}

.fontSize {
  appearance: button;
  text-align: center;
  font-size: 1.3em;
  padding-left: 5px;
  padding-right: 5px;
  content:url('./build/assets/font-size.svg');
}

.sizeSelect {
}

.select {
  --color-hover: white;
}

ion-select {
  --padding-top: 0;
  --padding-bottom: 0;
}