:host {
  display: block;
}



.productContainer {
  text-align: center;
  border-bottom: solid tomato 2px;
  margin-bottom: 0.5rem;
}

.productIcon {
  text-align: left;
}
.productIcon > img {
  width: 80px;
}

.productName {
  font-size: 1rem;
  text-decoration: underline;
}

.productPrice {
  text-align: right;
  font-size: 1rem;
  text-decoration: underline;
}

.productDesc {
  font-size: 0.8rem;
}



