:host {
  display: block;
}



.productContainer {
  display:flex;
  grid-template-columns: 1fr;
  width: 100%;
  gap:1.5em;
  padding: 1.5em 0;
  justify-content: space-between;
  border-bottom: solid tomato 2px;
  margin-bottom: 0.5rem;
}

.productIcon {
  width:80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;  
  margin-bottom: 0.5rem;
}


.productName {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
    margin-right: 1.5em;
}
.name {
    font-size: 1.1rem;
  text-align: center;
  height: 0.5em;
}

.productPrice {
  font-size: 1.2rem;
  right: 100%;
  align-self: auto;
  text-align: center;
  float: right;
}

.productDesc {
  flex-grow: 1;  
  line-height: 1.6;

}



