:host {
  display: block;
}



.productContainer {
  text-align: center;
  border-bottom: solid tomato 2px;
  margin-bottom: 0.5rem;
}

.productIcon {
  text-align: left;
  width:80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}


.productName {
  font-size: 1.1rem;
}

.productPrice {
  text-align: right;
  font-size: 1.2rem;
}

.productDesc {
  line-height: 1.6;
}



